<%= render("layouts/errors", :object => @link) %>
<%= form_for(@link) do |form| %>
	<div class = "form-group">
		<%= form.label :title %>
		<br>
		<%= form.text_field :title %>
	</div>
	<div class = "form-group">
		<%= form.label :hyperlink %>
		<br>
		<%= form.text_field :hyperlink %>
	</div>
	<div class = "form-group">
		<%= form.label :description %>
		<br>
		<%= form.text_area :description %>
	</div>
	<%= form.submit(:class => "btn btn-primary") %> <%= link_to "Cancel", root_path, :class => "btn btn-default" %>
<% end %>
